h1{
    text-align: center;
}
.App {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
    background-color: #555;
    border-radius: 10px;
  }
  #email{
    background-color: black;
    color: white;
    display: block;
    width: 300px;
    height: 40px;
    /* text-align: center; */
    line-height: 40px;
    padding: 5px;
    opacity: .8;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    margin: 5px;
}
#room{
    background-color: black;
    color: white;
    display: block;
    padding: 5px;
    width: 300px;
    height: 40px;
    /* text-align: center; */
    line-height: 40px;
    opacity: .8;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: none;
    margin: 5px;
}
label, .text{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
  }
  .butn{
    margin: 10px;
    border-radius: 10px;
    /* height: 30px; */
    padding: 15px 15px;
    font-size: 16px;
    border: 0;
    color: antiquewhite;
    outline: 0;
    cursor: pointer;
    background: #0c0c0c;
  }
  .Stream{
    border-radius: 10px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
  }